.UID-font-style {
    font-family: "Courier New";
    font-size: 10pt;
    white-space:nowrap;
}

.Summary-column-style {
    padding-left: 0px;
    width: 40%;
}

.Detail-column-style {
    padding: 0px 0px 0px 18px;
    width: 45%;
}