<gci-main-nav (toggleSidenavStart)="sidenavStart.toggle()"
              (toggleSidenavEnd)="sidenavEnd.toggle()"
              (toggleQuickFields)="onToggleQuickFields()"
></gci-main-nav>

<mat-sidenav-container class="main-nav-top-fix app-sidenav-container">

    <mat-sidenav-content>

        <gci-field-nav [style.display]="quickFieldsIsOpen ? 'inherit': 'none'"></gci-field-nav>

        <div class="container-fluid">

            <router-outlet></router-outlet>

        </div>
    </mat-sidenav-content>

    <mat-sidenav #sidenavStart position="start" class="app-sidenav" mode="over" autoFocus="false">
        <gci-left-side-nav (closeSidenavStart)="sidenavStart.close()"></gci-left-side-nav>
    </mat-sidenav>

    <mat-sidenav #sidenavEnd position="end" class="app-sidenav" mode="over">
        <gci-right-side-nav></gci-right-side-nav>
    </mat-sidenav>

</mat-sidenav-container>