<h1>Dashboard</h1>


<div class="container-fluid">

    <!--Deas header-->
    <div class="row">
        <div class="col-md-12">
            <h2>Deas</h2>
        </div>
    </div>

    <!--Fields-->
    <div class="row">
        <div class="col-md-12">
            <div (dblclick)="goToFields()" class="card">
                <div class="card-body">
                    <h5 class="card-title">Fields</h5>
                    <h6 class="card-subtitle mb-2 text-muted">These are the basic containers of the application, but so much more...</h6>
                    <p class="card-text">Double click this card to go to Fields.</p>
                </div>
            </div>
        </div>
    </div>

    <!--Work header-->
    <div class="row">
        <div class="col-md-12">
            <h2>Work</h2>
        </div>
    </div>

    <!--Projects-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Projects</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Organize work by putting tasks into projects</h6>
                    <!--<p class="card-text">Double click this card to go to the projects page.</p>-->
                </div>
            </div>
        </div>
    </div>

    <!--Ideas-->
    <div class="row">
        <div class="col-md-12">
            <div (dblclick)="goToIdeas()" class="card">
                <div class="card-body">
                    <h5 class="card-title">Ideas</h5>
                    <h6 class="card-subtitle mb-2 text-muted">The basic starting point of any work is the idea</h6>
                    <p class="card-text">
                        Capture your ideas to start working on them or save them for later.
                        Double click this card to go to the projects page.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
